{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}معلم یاد{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/photo.jpg" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.rtl.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/hearts.css" %}">
    <!-- font web -->
    <link rel="stylesheet" href="{% static "css/font-vazir.css" %}">
</head>
<body>
<div class="text-center">
    <a href="{% url "post:Detail" %}" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
        برگشت به صفحه قبلی
    </a>
</div>

<div class="card resize">
    <img src="{{ object.image.url }}" class="card-img">
    <div class="card-header">
        <h4 class="card-title"> نام: {{ object.username }}</h4>
        <h5 class="card-title">پایه: {{ object.Foundation }}</h5>
        <h5 class="card-comment"> رشته: {{ object.name_field }}</h5>
        {% if object.entrance %}<h5 class="card-comment">رتبه کنکور: {{ object.entrance }}</h5>{% else %}{% endif %}
        <h5 class="card-comment"> سابقه تدریس: {{ object.teaching }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{ object.discription|safe }} {% if user.view_resume.url %}<a class="text text-primary"
                                                                                           href="{{ object.view_resume.url }}">
            مشاهده رزومه</a>{% else %}{% endif %}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">تاریخ ایجاد: {{ object.get_jalali_data }}</small>
        <div class="heart">
            {% if is_like %}
                <a href="{% url 'post:like' teacher.id teacher.pk %}" class="fa fa-heart" id="heart"><span
                        id="count">{{ teacher.likes.all.count }}</span></a>
            {% else %}
                <a href="{% url 'post:like' teacher.id teacher.pk %}" class="fa fa-heart-o" id="heart"><span
                        id="count">{{ teacher.likes.all.count }}</span></a>
            {% endif %}
        </div>
    </div>
    <ion-icon name="heart-circle-outline"></ion-icon>
</div>

<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
<script>
    function like(id, pk) {
        let element = document.getElementById("heart")
        let count = document.getElementById("count")
        $.get(`/Post/like/${id}/${pk}`).then(response => {
            if (response['response'] === "liked") {
                element.className = 'fa fa-heart'
                count.innerText = Number(count.innerText) + 1
            } else {
                element.className = 'fa fa-heart-o'
                count.innerText = Number(count.innerText) - 1
            }
        })
    }
</script>
</body>
</html>