{% load static %}
{% load crispy_forms_tags %}
{% block html %}
    <!DOCTYPE html>
    <html>

    <head>
        {% include 'include/header.html' %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url "home:home" %}" class="nav-link">صفحه اصلی</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="{% url "home:home" %}" class="brand-link">
                <img src="{% static "img/photo.jpg" %}" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">معلم یاد</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    {% if request.user.image.url != None %}
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{{ request.user.image.url }}"
                                 alt="User profile picture">
                        </div>
                    {% else %}
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{% static "img/profile.jpg" %}"
                                 alt="User profile picture">
                        </div>
                    {% endif %}
                    <div class="info">
                        <a href="#" class="d-block">{{ request.user.email }}</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    افزودن
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url "account:panel_user" %}" class="nav-link">
                                        <i class="fa fa-table nav-icon"></i>
                                        <p>لیست</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "account:panel_edit" %}" class="nav-link active">
                                        <i class="fa fa-edit nav-icon"></i>
                                        <p>افزودن</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "account:profile" %}" class="nav-link">
                                <i class="nav-icon fa fa-user-astronaut"></i>
                                <p>
                                    پروفایل
                                </p>
                            </a>
                        </li>
                        {% if user.is_admin %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-star"></i>
                                    <p>
                                        vip
                                        <span class="right badge badge-danger">New</span>
                                    </p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">داشبورد</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url "home:home" %}">خانه</a></li>
                                <li class="breadcrumb-item active">افزودن</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <section class="content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title mb-0 float-left">افزودن</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="row">
                                        {% if user.is_admin %}
                                            <div class="col-6">
                                                {{ form.is_teacher }}
                                            </div>
                                            <div class="col-6">
                                                {{ form.user }}
                                            </div>
                                        {% endif %}
                                        <div class="col-6">
                                            {{ form.username|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.name_field|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.Foundation|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.entrance|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.teaching|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.university|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.section|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.image|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.view_resume|as_crispy_field }}
                                        </div>
                                        <div class="col-12">
                                            {{ form.discription|as_crispy_field }}
                                        </div>
                                    </div>
                                    <button class="btn btn-success">ارسال</button>
                                </form>
                            </div>
                        </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline-block">
                <strong>هرگونه کپی برداری حرام است</strong>&copy;
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    {% include "include/footer.html" %}
    </body>
    </html>
{% endblock %}