{% load static %}
{% block html %}
    <!DOCTYPE html>
    <html>
    <head>
        {% include "include/header.html" %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url "home:home" %}" class="nav-link">صفحه اصلی</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->


        <!-- Sidebar -->
        {% include "include/sidebar.html" %}
        <!-- Sidebar -->


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">داشبورد</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            {% if user.is_admin %}
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">خانه</a></li>
                                    <li class="breadcrumb-item active"><a href="{% url "admin:index" %}">panel admin</a></li>
                                </ol>
                            {% else %}
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">خانه</a></li>
                                    <li class="breadcrumb-item active">لیست</li>
                                </ol>
                            {% endif %}
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    لیست
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ایمیل</th>
                                            <th>نام</th>
                                            <th>رشته تدرس</th>
                                            <th>پایه</th>
                                            <th>رتبه کنکور</th>
                                            <th>سابقه تدریس</th>
                                            <th>دانشگاه</th>
                                            <th>مدرک</th>
                                            <th>توضیحات</th>
                                            <th>عکس بند انگشتی</th>
                                            <th>وعضیت</th>
                                            <th>زمان انتشار</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for teacher in object_list %}
                                            <tr>
                                                <td>{{ teacher.user }}</td>
                                                <td>{{ teacher.username }}</td>
                                                <td>{{ teacher.name_field }}</td>
                                                <td>{{ teacher.Foundation }}</td>
                                                {% if teacher.entrance %}
                                                    <td>{{ teacher.entrance }}</td>
                                                {% else %}
                                                    <td><span class="badge bg-danger">وارد نشده</span></td>
                                                {% endif %}
                                                <td>{{ teacher.teaching }}</td>
                                                <td>{{ teacher.university }}</td>
                                                <td>{{ teacher.evidence }}</td>
                                                <td>{{ teacher.discription|striptags|truncatechars:20 }}</td>
                                                <td><img src="{{ teacher.image.url }}" width="120"></td>
                                                <td>
                                                    {% if teacher.is_teacher %}
                                                        <span class="badge badge-info">تایید شد</span>
                                                        <a target="_blank" class="badge badge-primary"
                                                           href="{% url 'post:user_Detail' teacher.pk %}">نمایش</a>
                                                        <a class="badge badge-success"
                                                           href="{% url "account:panel_update" teacher.pk %}">بروزرسانی</a>
                                                    {% else %}
                                                        <span class="badge badge-danger">در انتضار تایید ادمین</span>
                                                        {% if user.is_admin %}
                                                            <a class="badge badge-success"
                                                               href="{% url "account:panel_update" teacher.pk %}">بروزرسانی</a>
                                                            <a class="badge badge-warning"
                                                               href="{% url "account:panel_Delete" teacher.pk %}">حذف</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>{{ teacher.get_jalali_data }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->

    {% include "include/footer.html" %}
    </body>
    </html>
{% endblock %}